<p>Hi <%= @user.email %>,</p>

<p>You can confirm your account by following the url below:</p>
<a href="<%= @url %>"><%= @url %></a></p>
<p>If you didn't create an account with us, please ignore this.</p>
